/** background and main page **/
body {
	background-color: #2d2d2d;
	font-family: sans-serif;
}



/** upper box **/
.text {
	color: #dd0000;
	font-size: 10pt;
}

.title {
	font-size: 16pt;
}

.bold {
	font-weight: bold;
}

.right {
	text-align: right;
}



/** media tags **/
audio { 
	display: none;
}

img {
	width: 32px;
	height: 32px;
}



/** search bar **/
input {
	width: 99%;
	height: 30px;
	font-size: 12pt;
}

input.button {
	font-weight: bold;
	height: 35px;
}



/* channel list */
ul {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #dd0000;
	font-weight: bold;
}

a:hover {
	color: #a90000;
}



/** fieldsets and their legend tags **/
fieldset {
	color: #ffffff;
	font-size: 14pt;
}

legend {
	font-size: 18pt;
	font-weight:bold;
}



/** footer **/
.footer {
	color: #ffffff;
	font-size: 12pt;
}

.heart {
	color: #dd0000;
	font-size: 16pt;
}

.hint {
	color: #ffffff;
	font-size: 11pt;
}

/* Added by lukkoeh */

img {
    width: 32px;
	height: 32px;
}

#searchbar {
	box-sizing: border-box;
	width: 99%;
	height: 4vh;
	background-color: #2a2a2a;
	color: #fff;
	border-radius: 0;
	border: 1px solid #eee;
    cursor:pointer;
	padding-left: 10px;
}

#clearSearchbar {
	width: 100%;
	height: 4vh;
	background-color: #2a2a2a;
	color: #fff;
	border-radius: 0;
	border: 1px solid #eee;
    cursor:pointer;
}

#mixedContentHint {
	margin-top: 10px;
}

.startstop {
	width: 64px;
}

.infobox {
	margin-top: -0.5vh;
}

/* mobile layout */

@media screen and (max-width: 1024px) {
	
	ul {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		list-style-type: none;
		padding-left: 10px;
	}
	
	li {
		padding: 5px;
	}
	
	img {
		width: 96px;
		height: 96px;
	}
	
	a {
		font-size: 5vw;
	}
	
	legend {
		font-size: 5.25vw;
	}
	
	.notonmobi {
		display: none;
	}
	
	.text {
		font-size: 4vw;
	}
	
	.bold {
		font-size: 4vw;
	}
	
	.infobox {
		margin-left: 3vw;
	}
	
	.clse {
		width: 20%;
	}
	.sbar {
		width: 60%;
	}
	
	#searchbar {
		width: 90%;
		height: 5vh;
		font-size: 2.75vh;
		padding-left: 2vw;
	}
	
	#clearSearchbar {
		width: 100%;
		height: 5vh;
		font-size: 4vw;
	}

}

/* Animations (DESKTOP) */

@media screen and (min-width: 1025px) {
	
	fieldset:hover {
		border-color: #aaa;
		transition: .2s;
	}
	
	a:hover {
		transition: .2s;
	}
	
	a:not(:hover) {
		transition: .2s;
	}
	
	fieldset:not(:hover) {
		transition: .2s;
	}
	
	#StopPlayIcon:hover, #muteIcon:hover {
		transform: scale(1.15);
		transition: .2s;
	}
	
	#StopPlayIcon:not(:hover), #muteIcon:not(:hover) {
		transition: .2s;
	}
	
	#clearSearchbar:hover, #searchbar:hover {
		border: 1px solid #aaa;
		transition: .2s;
	}
	
	#clearSearchbar:not(:hover), #searchbar:not(:hover) {
		transition: .2s;
	}
	
}



